<div class="d-flex justify-content-center outer-container about-us">
  <div class="container inner-container">
    <h1>Як нас знайти?</h1>
    <p>Знайти нас легко! Наш офіс розташований у місті Лозова, мікрорайон 1, будівля 12, що робить нас зручною локацією для вас. Незалежно від того, чи шукаєте ви рішення для бізнесу чи особистих потреб, наша команда експертів з фіскальних кас готова надати вам кваліфіковану підтримку та консультації. Нижче ви знайдете фото нашого офісу, щоб легше його розпізнати.</p>
    <div class="d-flex flex-row gap-lg-3">
      <div class = 'd-flex p-sm-3 flex-column align-items-center'>
        <img src="/assets/photos/office.png " alt = "Photo of office" class ='office-img img-fluid' loading="lazy">
        <span class ="text-secondary">Фото нашого офісу</span>
      </div>
      <div class = 'd-flex p-sm-3 flex-column align-items-center'>
        <img src="/assets/photos/office2.png " alt = "Photo of office" class ='office-img img-fluid' loading="lazy">
        <span class ="text-secondary">Фото нашого офісу</span>
      </div>
    </div>
    <p>
      Зверніться до нас за допомогою телефону. Ось наші контактні номери: +380(95)-678-9993, +380(97)-469-3986. Приходьте до нас за адресою м. Лозова, мікрорайон 1, будівля 12. Ми працюємо з понеділка по п'ятницю з 9:00 до 17:00.
    </p>
    <div class ='d-flex flex-md-row flex-column align-items-center  justify-content-evenly'>
      <div class = 'info d-flex flex-column'>
        <app-general-info></app-general-info>
      </div>
      <div class="map d-flex flex-column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.9713303199226!2d36.28874717562253!3d48.88328788334828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df2912af0369a7%3A0x5d706ccfa14cbdf!2z0KbQtdC90YLRgCDRgdC10YDQstGW0YHQvdC-0LPQviDQvtCx0YHQu9GD0LPQvtCy0YPQstCw0L3QvdGPINCg0KDQniDQpNCe0J8g0JrQsNC70LjQvdGH0LXQvdC60L4g0IYu0Jwu!5e1!3m2!1suk!2spl!4v1742947156801!5m2!1suk!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      </div>
    </div>
  </div>
</div>
