
@media (max-width: 720px) {
  .navbar-nav {
    display: none;
  }
}

.navbar{
  z-index: 1;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4); /* Shadow settings */
  width: 100vw;
}

#toggle-btn{
  cursor: pointer;
  border: none;
  background: none;
}



.btn{
  padding: 0;
}

.sidebar.expanded{
  display: block;
}

.dark-overlay{
  display: block;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  user-select: none;
  height: 100%;
  z-index: -1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dark-overlay.expanded {
  opacity: 1;
  display: block;
  z-index: 999;
}


.sidebar-nav{
  padding-top: 1.5rem;
  padding-left: 0;
  list-style: none;
}

.sidebar-item{
  padding-top: 5px;
  padding-bottom: 5px;
}

.cataloged-div{
  padding-bottom: 1rem;
}

.sidebar.expanded {
  transform: translateX(0); /* Show the sidebar */
}

.sidebar:not(.expanded) {
  transform: translateX(100%); /* Hide the sidebar */
}


.sidebar-link {
  color: #212529;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #e9ecef;
}

/* Responsive adjustments */
@media (max-width: 482px) {
  .sidebar {
    width: 100%; /* Full width on smaller screens */
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

}

@media (max-width: 412px) {
  .navbar-brand h2{
    font-size: 1rem;
  }
}
