<footer class="bg-light py-4">
  <div class="container">
    <div class="row">
      <!-- Social Media Links -->
      <div class="col-md-4">
        <h3>Соціальні мережі</h3>

        <app-media-links></app-media-links>

        <p>©2019. Всі права захищені.</p>

      </div>

      <div class="col-md-4">
        <h3>Навігація</h3>
<!--        <ul class="list-unstyled">-->
<!--          <li><a class="nav-link mb-1" href="#">>> Обладнання</a></li>-->
<!--          <li><a class="nav-link mb-1" href="#">>> Співпраця</a></li>-->
<!--          <li><a class="nav-link mb-1" href="#">>> Приклад</a></li>-->
<!--          <li><a class="nav-link mb-1" href="#">>> Часті питання</a></li>-->
<!--        </ul>-->
        <app-navigation-list></app-navigation-list>
      </div>

      <div class="col-md-4">
        <h3>Контакти</h3>
        <app-general-info></app-general-info>
      </div>
    </div>
  </div>
</footer>
