<div class="d-flex justify-content-center outer-container">
  <div class="container inner-container">
    <h1>Як нас знайти?</h1>
    <p>Знайти нас легко! Наш офіс розташований у місті Лозова, мікрорайон 1, будівля 12, навпроти центрального ринку, що робить нас зручною локацією для вас. Незалежно від того, чи шукаєте ви рішення для бізнесу чи особистих потреб, наша команда експертів з фіскальних кас готова надати вам кваліфіковану підтримку та консультації. Нижче ви знайдете фото нашого офісу, щоб легше його розпізнати.</p>
    <div class = 'd-flex  flex-column align-items-center'>
      <img ngSrc="/assets/photos/example_photo.png" alt = "Photo of office" height="389" width="692">
      <span class ="text-secondary">Фото нашого офісу</span>
    </div>
    <p>
      Зверніться до нас за допомогою телефону, що стане ще легше. Ось наші контактні номери: +380XX XXX XX XX, +380XX XXX XX XX, +380XX XXX XX XX, +380XX XXX XX XX. Також ви можете знайти нас у соціальних мережах, таких як Instagram та Telegram, де ми оперативно відповідаємо на повідомлення. Приходьте до нас за адресою м. Лозова, мікрорайон 1, будівля 12, навпроти центрального ринку. Ми працюємо з понеділка по п'ятницю з 9:00 до 18:00.
    </p>
    <div class ='d-flex flex-row justify-content-evenly'>
      <div class = 'info d-flex flex-column'>
        <app-general-info></app-general-info>
        <app-media-links class="media"></app-media-links>
      </div>
      <div class="map d-flex flex-column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d41994.97370088816!2d36.2901521!3d48.8642005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df28d316718e21%3A0xba0d07fa6c822fb5!2z0JjQs9GA0L7QstGL0LUg0LDQstGC0L7QvNCw0YLRiw!5e0!3m2!1suk!2spl!4v1721837105501!5m2!1suk!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
