.main-product-container {
  position: relative;
  background-size: cover;
  background-image: url("/assets/photos/catalog-bg.jpg");
  z-index: 1;
  font-weight: 500;
  height: 100%;
  width: 100%;
}

.main-product-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.row{
  background-color: #FFFFFF;
  border-radius: 3rem;
}
.product-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}
.product-img {
  max-width: 100%;
  padding: 10px;
}
.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 2rem;
  background-color: #fff;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  min-height: 300px;
}

.nav-link{
  color: black;
}

.nav-tabs .nav-link.active {
  border-top-left-radius: 1rem;
  Border-top-right-radius: 1rem;
}
.nav-tabs {
  display: inline-flex;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #CECECE;
}

.general-info{
  padding: 2rem;
  min-height: 300px;
}

