<div class ="main-product-container pt-5 pb-5">
<div class="container" >
  <div class="row general-info">

    <div class="col-md-4">
      <img
        [ngSrc]="environment.apiUrl + '/' + environment.apiVersion + '/product/' + description.id + '/image'"
        [width]="300"
        [height]="300"
        alt="Image of product"
        class="product-img img-fluid"
        placeholder="/assets/icons/big-register-plh.png"
        [placeholderConfig]="{ blur: false }"
      >
    </div>

    <div class="col-12 col-sm-8 d-flex flex-column justify-content-center">
      <h2 class="product-title">{{ description.productName }}</h2>
      <p class="font-weight-bold" [innerHTML]="description.title"></p>
    </div>

  </div>

  <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
      <button class="nav-link active fw-bold" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Опис</button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="characteristics-tab" data-bs-toggle="tab" data-bs-target="#characteristics" type="button" role="tab" aria-controls="characteristics" aria-selected="false">Характеристики</button>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
      <h5>Опис</h5>
      <div [innerHTML]="description.description"></div>
    </div>

    <div class="tab-pane fade" id="characteristics" role="tabpanel" aria-labelledby="characteristics-tab">
      <h5>Характеристики</h5>
      <div [innerHTML]="description.characteristics"></div>
    </div>

  </div>
</div>
</div>
