<div class="sidebar" [ngClass]="{'expanded': sidebarHeader.getIsSidebarExpanded()}">
  <div class="cataloged-div d-flex align-items-center justify-content-between border-bottom">
    <h2 class="h5">Каталог</h2>
    <button class="btn btn-outline-secondary" (click)="sidebarHeader.openSidebar()">
      <img ngSrc="/assets/icons/close.svg" alt="close sidebar button" height="42" width="42"/>
    </button>
  </div>

  <ul class="sidebar-nav list-unstyled p-3">

    <li *ngFor="let categoryItem of categoryList" class="sidebar-item mb-2">
      <a href="#" class="sidebar-link d-flex align-items-center p-2 rounded" data-bs-toggle="collapse"
         [attr.data-bs-target]="'#' + categoryItem.nameId" aria-expanded="false" [attr.aria-controls]="categoryItem.nameId">
        <img ngSrc="/assets/icons/archive.svg" height="32" width="32" alt="archive icon" class="me-2"/>
        <span>{{categoryItem.mainCategoryName}}</span>
      </a>

      <ul [id]="categoryItem.nameId" *ngFor="let subCategoryItem of categoryItem.subCategories" class="sidebar-dropdown collapse ms-3">
        <li class="sidebar-item">
          <a [href]="subCategoryItem.subCategoryUrl" class="sidebar-link p-2 rounded">{{subCategoryItem.subCategoryName}}</a>
        </li>
      </ul>
    </li>

  </ul>

</div>

<div class ="dark-overlay" (click)="sidebarHeader.clickOutside()" [ngClass]="{'expanded': sidebarHeader.getIsSidebarExpanded()}"></div>
