<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <a routerLink="update" routerLinkActive="true"  class="card update-card card-link">
        <div>
          <i class="fas bi-pencil"></i>
          <div class="card-title">Update Item</div>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a routerLink="create" routerLinkActive="true" class="card create-card card-link">
        <div>
          <i class="fas bi-plus"></i>
          <div class="card-title">Create Item</div>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a routerLink="delete" routerLinkActive="true"  class="card delete-card card-link">
        <div>
          <i class="fas bi-trash"></i>
          <div class="card-title">Delete Item</div>
        </div>
      </a>
    </div>
  </div>
</div>
