
.sorting{
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  padding: 1rem;
  min-width: 200px;
}
.list{
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 1.5rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5rem;
}
.body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 3rem;
  background-size: cover;
  background-image:url("/assets/photos/catalog-bg.jpg");
}
.shadows{
  box-shadow: 0.25rem 0.75rem 1.5rem 0 rgba(0, 0, 0, 0.5);
}
h2{
  font-size: 2.5rem;
  font-weight: bold;
}
.return-home-button{
  color: inherit;
  text-decoration: underline;
}
.route{
  font-weight: 500;
}
.row{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 5px;
  grid-auto-rows: min-content;
}
.col-md-2{
  width: 100%;
  padding: 0
  //padding-bottom: 0.5rem;
}
.page-nav{
  margin-top: 1.5rem;
}

