<div class ="body" >


  <div class ="justify-content-center sorting shadows">
    <form class="input-group" (ngSubmit)="onSearch()">
      <input type="text" class="form-control" placeholder="Пошук..." [(ngModel)]="searchArg" name="searchTerm">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Пошук</button>
      </div>
    </form>

    <div class="mt-2">
    <h5>Виробники</h5>
      <div *ngFor="let producer of producers">
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 [id]="'producer-' + producer.id"
                 [value]="producer.id"
                 [(ngModel)]="producer.selected"
                 (ngModelChange)="onProducerSelectionChange(producer)">
          <label class="form-check-label" [for]="'producer-' + producer.id">
            {{ producer.producerName }}
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="list shadows">
    <h2 *ngIf="catalog != undefined" >{{catalog.subCatalogs[0].subCatalogName}}</h2>
    <div class = "route">
      <a routerLink="/home" routerLinkActive="true" class = "return-home-button">Головна</a>
      <span *ngIf="catalog != undefined" >&#160;>> {{catalog.catalogName}} >> {{catalog.subCatalogs[0].subCatalogName}}</span>
    </div>
    <br>
    <div class ="row">

      <div class = "col-md-2" *ngFor="let listItem of listItems | slice:0:limit">
        <app-list-component
        [itemDetails]="listItem"
        >
        </app-list-component>
      </div>
    </div>


    <nav class="page-nav" aria-label="Page navigation" *ngIf="totalPages > 0">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(currentPage - 1)">Минула</a>
        </li>

        <li *ngIf="currentPage > 1" class="page-item">
          <a class="page-link" (click)="goToPage(currentPage - 1)">{{ currentPage - 1 }}</a>
        </li>

        <li class="page-item active">
          <a class="page-link">{{ currentPage }}</a>
        </li>

        <li *ngIf="currentPage < totalPages" class="page-item">
          <a class="page-link" (click)="goToPage(currentPage + 1)">{{ currentPage + 1 }}</a>
        </li>

        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToPage(currentPage + 1)">Наступна</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
